<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
<!--   <a href="/oe" class="btn">Home</a>
  <a href="/oe/panda.html" class="btn">PandAについて</a>
  <a href="/oe/kaltura.html" class="btn">Kalturaについて</a> -->
<style>
	
		.gnav {
			font-size: 1.1rem;
			display: flex;
			height: 2rem;
			margin: 0 auto;
			padding-inline-start: 0px;
			    width: 300px;
    float: right;
		}
		
		.gnav > li {
			width: 50%;
		}

		.gnav li {
			list-style: none;
			position: relative;
		}
		
		.gnav li a {
			border-right: 1px solid #eee;
			border-left: 1px solid #eee;
			color: #fff;
			display: block;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			text-decoration: none;
			width: 100%;
		}


		.gnav ul{
			padding-inline-start: 0px;
		}
		
		.gnav li li {
			background: #65bfc4;
			height: 0;
			overflow: hidden;
			transition: .5s;
		}
		
		.gnav li li a {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
		
		.gnav li > ul{
			padding-inline-start: 0px;
		}
		
		.gnav li:hover > ul > li {
			height: 2rem;
			overflow: visible;
		}
		
		
	</style>
  <ul class="gnav">
		  <li>
		    <a href="https://kyoto-u.github.io/online-edu/">HOME</a>
		  </li>
		  <li>
		    <a href="panda">PandAについて</a>
		    <ul>
		      <li><a href="kaltura">Kalturaについて</a></li>
		      <li><a href="zoom">Zoomについて</a></li>
		    </ul>
		  </li>	  
		</ul>

</section>
